# This two-step will turn off detection in the project root
* -linguist-detectable
*/** linguist-detectable

Makefile -linguist-detectable

*.sql linguist-detectable
dec14/go.mod -linguist-detectable
dec12/part2 -linguist-detectable
